body{
  background-color: rgba(30,30,30,1);
  min-height: 100vh;
}
h2{
  display: inline;
  position: absolute;
  top: 25%;
  align-items: center;
  color: rgba(255,255,255,0.6);
  font-size: .95rem;
  font-weight: 400;
}
h2 #welcome{
  color: rgba(255,255,255,0.6);
  font-weight: 600;
}
.profile{
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

#profile-image {
  position: relative;
  display: inline-block;
  background-color: skyblue;
  width: 45px;
  height: 45px;
  /*border: 4px double royalblue;*/
  border-radius: 50%;
  margin-right: 10px;
}

#profile-image #default {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
  height: 45px;
  /*border: 4px double royalblue;*/
  border-radius: 50%;
  margin-right: 10px;
}

 #span{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background: orangered;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 50%;
}
#span.active{
  background: limegreen;
}
#edit-img{
  position: absolute;
  bottom: 0px;
  right: -2px;
  width: 14px;
  height: 14px;
  background-image: url("settings.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile .cs-1{
  position: absolute;
  top: 10%;
  right: 0px;
  background: url("cs-1.png");
  background-size: cover;
  background-repeat: no-repeat;background-position: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.edit-profile{
  position: fixed;
  opacity: 0;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 0;
  transition-duration: .53s;
}
.edit-profile.active{
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  padding: 20px;
  max-width: 480px;
  background-color: #42445A;
  z-index: 1000;
  transition-duration: .3s;
}

.edit-profile h3{
  text-align: center;
}
.edit-profile img{
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid royalblue;
  margin-bottom: 0px;
}

.edit-info{
  width: 100%;
  padding: 20px;
}
.edit-info label{
  margin-bottom: 10px;
  color: whitesmoke;
  opacity: .7;
  font-weight: 500;
}
.edit-info input{
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.edit-info .input{
  padding: 8px 16px;
}
.edit-info button{
  display: block;
  padding: 8px 20px;
  width: 180px;
  color: ghostwhite;
  border-radius: 10px;
  border: none;
  background: royalblue;
  margin: auto;
}

main{
  z-index: 10;
  padding: 20px;
  padding-top: 3rem;
  min-height: 100vh;
}
.main{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("index-bg.jpg");
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
h4{
  color: white;
  font-size: .7rem;
  font-weight: normal;
}
.balance-section{
  position: relative;
  padding: 1rem;
  background-image: url("profile-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(3px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  min-height: 25vh;
  border-radius: 1rem;
  z-index: 0;
  overflow: hidden;
}
.balance-section::before {
  content: "";
  position: absolute;
  height: auto;
  width: 70px;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0px;
  transform: rotate(45deg);
  z-index: -1;
}

.balance-section::after{
  content: "";
  position: absolute;
  height: auto;
  width: 70px;
  height: 200%;
  background: rgba(255,255,255,0.2);
  top: 0;
  right: 30px;
  transform: rotate(45deg);
  z-index: -1;
}
.balance-section #historial{
  font-size: 80%;
  display: inline;
  text-decoration: underline;
  color: rgba(0,0,0,0.6);
}

.balance-box{
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.balance-box h4{
  color: rgba(0,0,0,0.7);
  margin-bottom: 5px;
}
.balance-box p{
  display: inline;
  font-size: 1.3rem;
  font-weight: bold;
  color: purple;
}
.balance-box input{
  font-size: 1.3rem;
  font-weight: bold;
  color: purple;
  background: none;
  outline: none;
  border: none;
}

.entice{
  background-image: url("wallet-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 70px;
  position: absolute;
  top: 10px;
  right: 16px;
  border-radius: 20px;
}

.transact-box{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.transact-box button{
  padding: 7px 14px;
  border: none;
  outline: none;
  border-radius: 20px;
}
#btn1{
  transition-duration: .3s;
  background: whitesmoke;
  color: orange;
}

#btn2{
  border: none;
  color: whitesmoke;
  opacity: 1;
  margin-left: .9rem;
  background: linear-gradient(to left, purple, royalblue);
}
#btn1:active, #btn2:active{
  opacity: .7;
}

.summary{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(2px);
  min-height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(255,255,255,0.8);
}
.summary .data{
  font-size: 11px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}
.summary .data:last-child{
  border: none;
}
.summary .data span{
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  opacity: .8;
}


.quick-links{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(2px);
  min-height: 70px;
  max-width: 480px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.quick-links a{
  color: rgba(255,255,255,0.6);
  font-size: 10px;
}
.quick-links div{
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: none;
  margin-bottom: 5px;
}
.quick-links .ql4 {
  background-image: url("telegram.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.quick-links .ql3{
  background-image: url("whatsapp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.quick-links .ql2 {
  background-image: url("withdraw.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.quick-links .ql1 {
  background-image: url("depo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.list{
  position: relative;
  padding: 20px;
  border-radius: 1rem;
  background: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);
    overflow: hidden;
}
.list::after {
  content: "";
  position: absolute;
  height: auto;
  width: 100px;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  right: 30px;
  transform: rotate(45deg);
  z-index: -10;
}

.list #receipt, #file, #bank, #service, #card, #earn, #settings{
  left: 0;
  font-size: 12px;
}
ul{
  margin: 0;
  padding: 0;
  border-radius: 20px;
}
ul li{
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  background: rgb(32,32,32);
  margin-bottom: 8px;
  color: rgba(255,255,255,0.6);
  font-size: .8rem;
  line-height: 2.2;
  padding: 5px 16px;
  border-radius: 1rem;
  border: .5px solid rgba(0,0,0,0.3);
  transition-duration: .1s;
}

ul li:hover{
  color: royalblue;
  /*background: rgba(65,105,225,0.07);*/
}
li img.dicons{
  margin-top: 0;
  float: left;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
  width: 20px;
  height: 20px;
}

li img.darrows{
  position: absolute;
  right: 16px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
  width: 12px;
  height: 12px;
}



li:hover p{
  margin-left: 40px;
  transition-duration: .1s;
}
ul li p{
  margin-left: 30px;
}
#logout{
  position: relative;
  margin-top: 40px;
  margin-bottom: 5rem;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(to left, purple, royalblue);
  color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 20px;
  transition-duration: .3s;
}
#logout:hover{
  background: deepskyblue;
}
#logout img{
  position: absolute;
  top: 25%;
  left: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.platform-rules{
  opacity: 0;
  position: fixed;
  background-color: antiquewhite;
  height: 20vh;
  width: 20%;
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
  margin: 0 auto;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition-duration: .25s;
}
.platform-rules.active{
  opacity: 1;
  z-index: 100;
  height: 60vh;
  width: 60%;
}
.platform-rules h3{
  text-decoration: underline;
  text-align: center;
  color: #000;
  font-size: 90%;
}
.platform-rules .rules li{
  background: none;
  font-size: 90%;
  margin-bottom: 10px;
}
.platform-rules button{
  background: linear-gradient(to bottom, royalblue, antiquewhite);
  border-radius: 20px;
  padding: 10px 20px;
}
