@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body{
  position: relative;
  min-height: 100vh;
  background-color: rgb(30,30,30);
}
#body.active{
  overflow: hidden !important;
}

h1{
  color: transparent;
  font-weight: bold;
  background-image: linear-gradient(to right, royalblue, mediumpurple);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 1.2rem;
}
h1 span{
  color: royalblue;
}
a{
  text-decoration: none;
}
#fi{
  font-size: 27px;
  margin-left: -7px;
}
i.fi{
  font-size: 20px;
  color: rgba(255,255,255,1);
  display: block;
  transition-duration: .1s;
}
i.fi:hover{
  color: royalblue;
}

nav{
  max-width: 100%;
}
.nav{
  background-color: rgb(30,30,30);
  /*backdrop-filter: blur(4px);*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 3rem;
  text-align: center;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px 0px rgba(0,0,0,0.32);
}

.swiper-container{
  position: relative;
  width: 94%;
  overflow: hidden;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  border-radius: 20px;
  z-index: 0;
}

.swiper-slide{
  width: 100%;
  margin: auto;
  height: auto;
  border-radius: 20px;
  text-align: center;
}

#swiper1{
  background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),url(image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#swiper2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url(image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#swiper3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url(image3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#swiper4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: relative;
  max-width: 768px;
  padding: 15px;
  margin-bottom: 3rem
}
.container > #h3{
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}
.container > #h3::before{
  position: absolute;
  content: "";
  background-color: royalblue;
  border-radius: 20px;
  height: 2px;
  width: 10%;
  top: 1.7rem;
}
.container h4 {
  position: relative;
  text-align: left;
  top: 0px;
}
#cart{
  background: rgb(38,38,38);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.3);
}
#cart button{
  padding: 5px 30px;
  border-radius: 30px;
  background: linear-gradient(to left, purple, royalblue);
  
  color: white;
  font-weight: 600;
  border: none;
}
#cart button:hover{
  background-image: linear-gradient(to right, purple, royalblue);
}

.product-container{
  position: relative;
  padding: 5px;
  width: 100%;
  background: rgb(38,38,38);
  border-radius: 16px;
  border-bottom: 5px solid rgba(0,0,0,0.32);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
/*.product-container:last-child{
  border: none;
}*/

.product-container .prime-logo{
  width: 70px;
  height: auto;
  position: absolute;
  right: 20%;
  /*left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);*/
  opacity: .1;
}
.product-container button{
  position: absolute;
  background-image: linear-gradient(to left, purple, royalblue);
  color: white;
  font-weight: 600;
  padding: 5px 26px;
  border: none;
  border-radius: 30px;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 3px 8px 0px rgba(0,0,0,0.2);
}
button:hover{
  bottom: 10px;
  transition: all .15s;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.product{
  position: relative;
  width: 30%;
  height: 90px;
  margin-right: 10px;
  border-radius: 10px;
}
.product-container .inactive{
  background: lightgrey;
  opacity: 1;
}
.product span{
  position: absolute;
  width: 28px;
  height: 28px;
  top: -10px;
  left: -10px;
  border-radius: 50%;
}
#vip0 {
  background: url("vip-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip1{
  background: url("vip-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip2 {
  background: url("vip-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip3 {
  background: url("vip-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip4 {
  background: url("vip-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip5 {
  background: url("vip-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip6 {
  background: url("vip-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip7 {
  background: url("vip-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip8 {
  background: url("vip-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#vip9 {
  background: url("vip-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.productDetails{
  width: 70%;
  padding: 10px;
  text-align: left;
  /*border: 1px solid blue;*/
}
.productDetails h4{
  color: rgba(255,255,255,0.85);
  position: relative;
  top: 0;
  left: 0;
}
.productDetails h4 span{
  color: gold;
}
.productDetails h6{
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
}
h6 span{
  margin-left: 3px;
  color: orange;
}
#productImg0 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-cord.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg01 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-charger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg1{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-super-charger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg2{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-mini-powerbank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg3 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-10Ah.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg4 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-20Ah.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg5 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-27Ah.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg6 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-30Ah.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg7 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-p500.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg8 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("oraimo-p600.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg9 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("triplebass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#productImg10 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("soundbass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card{
  display: none;
  z-index: 10;
  background-color: rgb(36,36,36);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  min-height: 180px;
  color: rgba(255,255,255,0.7);
  text-align: center;
  margin: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.card-3{
  background-color: rgba(0,0,0,0.67);
  width: 40%;
  min-height: 90px;
  text-align: center;
  border: none
}
.card-3 h5{
  color: rgba(0,0,0,0.9);
  font-weight: 400;
}
.loader {
  position: relative;
  margin: 0 auto;
  background: transparent;
  width: 40px;
  height: 40px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2.5px solid royalblue;
  border-radius: 50%;
  -webkit-animation-name: divLoader;
  animation-duration: .65s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: reverse;
}

@keyframes divLoader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
h3{
  font-weight: 600;
  color: rgba(255,255,255,1);
  margin-bottom: 10px;
}
h5 {
  margin-bottom: 9px;
  color: rgba(255,255,255,0.6);
}
h6{
  color: rgba(255,255,255,0.6);
  margin-bottom: 4px;
}

.card span{
  display: inline;
  position: absolute;
  font-weight: 600;
  font-size: .8rem;
  bottom: 8px;
  color: white;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card span#approve {
  right: 10px;
  background: royalblue;
}
.card span#decline {
  right: 70px;
  background: lightblue;
}
.card i.fi{
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
}

.card-1{
  background-color: transparent;
  background-image: url("done.png");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center 20px;
}

.card-1 h3{
  margin-top: 70px;
}

@media only screen and (max-width: 1440px) {
  .horizontal-nav h5{
    position: relative;
    font-size: .6rem;
    opacity: .8;
    transition-duration: .2s;
    margin-bottom: 0;
  }

.horizontal-nav{
  position: fixed; 
  z-index: 100;
  padding: 8px 20px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-height: 1rem;
  background: rgb(30,30,30);
  border-top: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 -2px 10px 0px rgba(0,0,0,0.1);
}
.horizontal-nav div{
  width: auto;
  height: auto;
  text-align: center;
}
.horizontal-nav .current h5{
  color: royalblue;
  opacity: .9;
}
.horizontal-nav .current i.fi{
  color: royalblue;
  opacity: .9;
}

.horizontal-nav div i.fi{
  font-size: 20px;
  color: rgba(255,255,255,1);
  display: block;
  margin-bottom: 0px;
  opacity: .7;
  transition-duration: .2s;
}
.horizontal-nav div:hover h5{
  color: royalblue;
}
.horizontal-nav div:hover i.fi{
  color: royalblue;
}
}
